<!DOCTYPE html>
<html ng-app="shopular">
  <head>
    <meta charset="utf-8">
    <title>Shopular</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous'>
    <link rel="stylesheet" href="/css/master.css" charset="utf-8">
  </head>

  <body>

    <header class="page-header" ng-controller="HeaderController as header">
      <form name="loginForm" ng-submit="header.login(loginForm)" ng-hide="header.loggedIn">
        <input ng-model="header.username" type="text" placeholder="Enter username">
        <button class="btn">Login</button>
      </form>
      <h1 ng-show="header.loggedIn">{{header.username}}
        <small>{{header.loginTime | date: 'MMM-dd - h:mm a'}}</small>
        <form class="logout-button" ng-submit="header.logout()">
          <button class="btn">Logout</button>
        </form>
      </h1>
    </header>

    <main class="inventory" ng-controller="InventoryController as inventory">

    <table class="table">
      <thead>
        <tr>
          <td>Item Name</td>
          <td>Price</td>
          <td>Quantity</td>
          <td>Color</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in inventory.inventory | orderBy: 'quantity'">
          <td>{{item.name}}</td>
          <td>{{((item.price - item.discount) + ((item.price - item.discount) * inventory.tax)) | currency}}
            <img ng-show="item.discount > 0" src="https://tiy-learn-content.s3.amazonaws.com/98350f05-sale_2.png" alt="sale icon" /></td>
          <td>
            <input class="btn btn-secondary btn-xs increment-buttons" type="button" value="-" ng-click="inventory.decrement(item)">
            {{item.quantity}}
            <input class="btn btn-secondary btn-xs increment-buttons" type="button" value="+" ng-click="inventory.increment(item)">
          </td>
          <td>{{item.color}}</td>
        </tr>
      </tbody>
    </table>

    <form novalidate name="createItemForm" ng-submit="inventory.save(createItemForm)">
      <input ng-model="inventory.newItem.name" type="text" placeholder="Item name" required>
      <input ng-model="inventory.newItem.price" type="number" placeholder="Price" required min="0">
      <input ng-model="inventory.newItem.quantity" type="number" placeholder="Quantity" required min="0">
      <input ng-model="inventory.newItem.color" type="text" placeholder="Color" required>
      <input ng-model="inventory.newItem.discount" type="number" placeholder="Discount (in dollars)" required min="0">
      <button class="btn">Add Item</button>
    </form>
  </main>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/controllers/inventory_ctrl.js"></script>
    <script src="js/controllers/header_ctrl.js"></script>
    <script src="js/factories/inventory_fact.js"></script>

  </body>
</html>
